name: '[Internal] Build and push Docker images using Docker Bake'

on:
  workflow_call:
    inputs:
      target:
        description: "Bake target"
        required: true
        type: string
      set:
        description: "List of targets values to override (eg. targetpattern.key=value)"
        required: false
        type: string
      push:
        description: "Push is a shorthand for --set=*.output=type=registry"
        required: false
        type: boolean
        default: false
      clean-up:
        description: "Whether to clean up"
        required: false
        type: boolean
        default: true
      upload-metadata:
        description: "Whether to upload metadata files"
        required: false
        type: boolean
        default: true
      hw-registry:
        description: "Server address of Huawei Cloud registry"
        required: false
        type: string
        default: 'swr.cn-southwest-2.myhuaweicloud.com'
    secrets:
      DOCKERHUB_OWNER:
        description: "Owner of the DockerHub registry"
        required: false
      DOCKERHUB_USERNAME:
        description: "Username of the DockerHub registry"
        required: false
      DOCKERHUB_TOKEN:
        description: "Token of the DockerHub registry"
        required: false
      QUAY_OWNER:
        description: "Owner of the Quay registry"
        required: false
      QUAY_USERNAME:
        description: "Username of the Quay registry"
        required: false
      QUAY_TOKEN:
        description: "Token of the Quay registry"
        required: false
      HW_OWNER:
        description: "Owner of the Huawei Cloud registry"
        required: false
      HW_USERNAME:
        description: "Username of the Huawei Cloud registry"
        required: false
      HW_TOKEN:
        description: "Token of the Huawei Cloud registry"
        required: false

permissions:
  contents: read

jobs:
  prepare:
    name: 'prepare'
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.list-target.outputs.targets }}
      registries: ${{ steps.list-registry.outputs.registries }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List targets
        id: list-target
        uses: docker/bake-action/subaction/list-targets@v5
        with:
          target: ${{ inputs.target }}

      # List registries to push the images to, see the variable definition in docker-bake.hcl
      - name: List registries in JSON format
        id: list-registry
        run: |
          registry_array='[]'

          add_registry() {
            local url=$1
            local owner=$2
            if [ -n "$owner" ]; then
              registry_array=$(jq --arg url "$url" --arg owner "$owner" '. += [{"url": $url, "owner": $owner}]' <<< "$registry_array")
            fi
          }

          add_registry "docker.io" "${{ secrets.DOCKERHUB_OWNER }}"
          add_registry "ghcr.io" "${{ github.repository_owner }}"
          add_registry "quay.io" "${{ secrets.QUAY_OWNER }}"
          add_registry "${{ inputs.hw-registry }}" "${{ secrets.HW_OWNER }}"

          registry_array=$(jq -c '.' <<< "$registry_array")
          echo "registries=$registry_array" >>$GITHUB_OUTPUT

  docker:
    name: 'docker'
    runs-on: ubuntu-latest
    needs:
      - prepare
    env:
      registries: ${{ needs.prepare.outputs.registries }}
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        target: ${{ fromJson(needs.prepare.outputs.targets) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean up
        continue-on-error: true
        uses: ./.github/actions/clean-up
