name: 'Build and push Docker images'

on:
  workflow_call:
    inputs:
      target:
        description: "Bake target"
        required: true
        type: string
      set:
        description: "List of targets values to override (eg. targetpattern.key=value)"
        required: false
        type: string
      push:
        description: "Push is a shorthand for --set=*.output=type=registry"
        required: false
        type: boolean
        default: false
      clean-up:
        description: "Whether to clean up"
        required: false
        type: boolean
        default: true
      upload-metadata:
        description: "Whether to upload metadata files"
        required: false
        type: boolean
        default: true
      hw-registry:
        description: "Server address of Huawei Cloud registry"
        required: false
        type: string
        default: 'swr.cn-southwest-2.myhuaweicloud.com'
    secrets:
      DOCKERHUB_OWNER:
        description: "Owner of the DockerHub registry"
        required: false
      DOCKERHUB_USERNAME:
        description: "Username of the DockerHub registry"
        required: false
      DOCKERHUB_TOKEN:
        description: "Token of the DockerHub registry"
        required: false
      QUAY_OWNER:
        description: "Owner of the Quay registry"
        required: false
      QUAY_USERNAME:
        description: "Username of the Quay registry"
        required: false
      QUAY_TOKEN:
        description: "Token of the Quay registry"
        required: false
      HW_OWNER:
        description: "Owner of the Huawei Cloud registry"
        required: false
      HW_USERNAME:
        description: "Username of the Huawei Cloud registry"
        required: false
      HW_TOKEN:
        description: "Token of the Huawei Cloud registry"
        required: false

env:
  # Registries to push the images to, see the variable definition in docker-bake.hcl
  registries: |
    [
      {
        "url": "docker.io",
        "owner": "${{ secrets.DOCKERHUB_OWNER }}"
      },
      {
        "url": "ghcr.io",
        "owner": "${{ github.repository_owner }}"
      },
      {
        "url": "quay.io",
        "owner": "${{ secrets.QUAY_OWNER }}"
      }
    ]

jobs:
  prepare:
    name: 'prepare'
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.list-target.outputs.targets }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List targets
        id: list-target
        uses: docker/bake-action/subaction/list-targets@v4
        with:
          target: ${{ inputs.target }}

  docker:
    name: 'docker'
    runs-on: ubuntu-latest
    needs:
      - prepare
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        target: ${{ fromJson(needs.prepare.outputs.targets) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean up
        if: ${{ inputs.clean-up }}
        continue-on-error: true
        uses: ./.github/actions/clean-up

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Not allowed to use secrets in `if` condition
      - name: Check tokens
        id: check-tokens
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
          QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
          QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
          HW_USERNAME: ${{ secrets.HW_USERNAME }}
          HW_TOKEN: ${{ secrets.HW_TOKEN }}
        run: |
          if [ -n "$DOCKERHUB_USERNAME" ] && [ -n "$DOCKERHUB_TOKEN" ]; then
            echo "dockerhub=true" >> $GITHUB_OUTPUT
          fi
          if [ -n "$QUAY_USERNAME" ] && [ -n "$QUAY_TOKEN" ]; then
            echo "quay=true" >> $GITHUB_OUTPUT
          fi
          if [ -n "$HW_USERNAME" ] && [ -n "$HW_TOKEN" ]; then
            echo "hw=true" >> $GITHUB_OUTPUT
          fi

      - name: Login to Docker Hub
        if: ${{ inputs.push && steps.check-tokens.outputs.dockerhub == 'true' }}
        uses: docker/login-action@v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container
        if: ${{ inputs.push }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Login to RedHat Quay
        if: ${{ inputs.push && steps.check-tokens.outputs.quay == 'true' }}
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Login to Huawei Cloud
        if: ${{ inputs.push && steps.check-tokens.outputs.hw == 'true' && inputs.hw-registry }}
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.hw-registry }}
          username: ${{ secrets.HW_USERNAME }}
          password: ${{ secrets.HW_TOKEN }}

      - name: Extract metadata for Docker
        id: metadata
        uses: docker/metadata-action@v5
        with:
          bake-target: "docker-metadata-action"

      - name: Build and push Docker image
        id: bake
        uses: docker/bake-action@v5
        with:
          files: |
            ${{ github.workspace }}/docker-bake.hcl
            ${{ steps.metadata.outputs.bake-file-labels }}
            ${{ steps.metadata.outputs.bake-file-annotations }}
          targets: ${{ matrix.target }}
          push: ${{ inputs.push }}
          set: ${{ inputs.set }}
          provenance: false
          sbom: false

      - name: Export metadata
        id: export
        if: ${{ steps.bake.outputs.metadata }}
        shell: bash
        run: |
          METADATA_FILE_NAME="${{ matrix.target }}-metadata.json"
          echo "metadata-file-name=${METADATA_FILE_NAME}" >> $GITHUB_OUTPUT
          echo '${{ steps.bake.outputs.metadata }}' > /tmp/${METADATA_FILE_NAME}

      - name: Upload metadata
        id: upload-artifact
        if: ${{ inputs.upload-metadata }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.export.outputs.metadata-file-name }}
          path: /tmp/${{ steps.export.outputs.metadata-file-name }}
          if-no-files-found: error
          retention-days: 7

      - name: Display available disk space
        if: ${{ always() }}
        shell: bash
        run: |
          set -x
          sudo df -h
          docker images -a
