name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
    paths:
      - '.github/workflows/_docker-build.yml'
      - '.github/workflows/docker.yml'
      - 'docker-bake.hcl'
      - 'cann/**'
      - 'pytorch/**'
      - 'mindspore/**'
      - '!**/*.md'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/_docker-build.yml'
      - '.github/workflows/docker.yml'
      - 'docker-bake.hcl'
      - 'cann/**'
      - 'pytorch/**'
      - 'mindspore/**'
      - '!**/*.md'
  release:
    types:
      - 'published'

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}-${{ github.event_name == 'workflow_dispatch' }}-${{ github.event_name == 'schedule' }}"
  cancel-in-progress: ${{ !contains(github.ref, 'release/')}}

permissions:
  contents: read
  packages: write

jobs:
  python:
    name: python
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'python'
      push: ${{ github.event_name == 'release' }}
      clean-up: false
      set: |
        *.cache-from=type=gha
        *.cache-to=type=gha,mode=min
    secrets:
      DOCKERHUB_OWNER: ${{ secrets.DOCKERHUB_OWNER }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      QUAY_OWNER: ${{ secrets.QUAY_OWNER }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}

  cann:
    name: cann
    needs:
      - python
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'cann'
      push: ${{ github.event_name != 'pull_request' }}
    secrets:
      DOCKERHUB_OWNER: ${{ secrets.DOCKERHUB_OWNER }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      QUAY_OWNER: ${{ secrets.QUAY_OWNER }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}

  pytorch:
    name: pytorch
    needs:
      - cann
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'pytorch'
      push: ${{ github.event_name != 'pull_request' }}
    secrets:
      DOCKERHUB_OWNER: ${{ secrets.DOCKERHUB_OWNER }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      QUAY_OWNER: ${{ secrets.QUAY_OWNER }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}

  mindspore:
    name: mindspore
    needs:
      - cann
    uses: ./.github/workflows/_docker-build.yml
    with:
      target: 'mindspore'
      push: ${{ github.event_name != 'pull_request' }}
    secrets:
      DOCKERHUB_OWNER: ${{ secrets.DOCKERHUB_OWNER }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      QUAY_OWNER: ${{ secrets.QUAY_OWNER }}
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
